<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="card-body border-right">
                        <h4 class="card-title">Card title</h4>
                        <ul>
                          <li class="card-text">
                            25 jobs créés
                          </li>
                          <li class="card-text">
                            15 000 burgers bio livrés
                          </li>
                          <li class="card-text">
                            16 écoles sensibilisée
                          </li>
                        </ul>
                    </div>
                      <div>
                        <canvas width="auto" height="auto" id="myChart">
                        </canvas>
                        <div class="donut-inner">
                          <h5>60%</h5>
                        </div>
                      </div>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
