// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0255F6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00A198;
$gray: #0E0000;
$light-gray: #F4F4F4;
$salmon: #FCE6D0;
$dblue: #151920;
$specific-background : #DCE3FD;
$body-background : #F9FAFB;
$deep-blue: #202135;
