<div class="container">
  <div class="dashboard d-flex">
    <div class="projects">
      <section class=" ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <nav class="nav-justified my-3">
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">En cours de collecte</a>
                            <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Financé</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                            <div class="pt-3">
                              <%= render partial: "cards_projects", locals: {orders: @orders_in_progress} %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                            <div class="pt-3">
                              <%= render partial: "cards_projects", locals: {orders: @orders_finished} %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
        <h2>Votre profil investisseur</h2>
        <p>Vous avez investi dans <%=  current_user.orders.count%> projets</p>
        <div>
          <canvas id ="radar" class="radar-investor">
          </canvas>
          <%= link_to "Investir dans un nouveau projet", step1_path, class:"btn btn-form add-investment" %>
        </div>
    </div>
  </div>
    </div>
    </section>
