


  <div class="banner d-flex">
  <div class="container">
<div class="banner-grid">

      <div class="banner-left">
        <h1><strong>Il y a forcement<br> un projet pour vous. </strong></h1> <br><p>PowerInvestor vous guide dans vos investissements<br> parmi plus de 3725 projets.</p>
        <div>
          <a href="/step1">
            <input type="button" class="btn btn-primary btn-home" value="Créer mon profil">
          </a>
        </div>
        <a href=""></a>
      </div>
      <div class="banner-right">
        <img src="https://res.cloudinary.com/dqwubjw5x/image/upload/v1559909919/phone_hzidx8.png" alt="iphone">
      </div>
      <href class=" "></href>


    </div>
  </div>
</div>

