.button a {
  width: 170px;
  height: 33px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: white;
  font-size: 14px;
  margin:100px;
  text-decoration: none;
}

.payment-button {
  width: 170px;
  height: 33px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: white;
  font-size: 14px;
  margin:100px;
  text-decoration: none;
}

.franceconnect-button {
  background-image: url("../../app/assets/images/france_connect.png");
}
