.button a {
  width: 170px;
  height: 33px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: white;
  font-size: 14px;
  margin:100px;
  text-decoration: none;
}

.payment-button {
  width: 170px;
  height: 33px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: white;
  font-size: 14px;
  margin:100px;
  text-decoration: none;
}

.stripe-button {
  display: none;
}

.btn-form {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: #DCE3FD;
  font-size: 14px;
  margin-top:20px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: #DCE3FD;
    transition: background-color 0.3s;
    color: #202135;
    box-shadow: 2px 3px 8px #202135;
  }
  &.add-investment {
  font-size: 14px;
  height: 55px;
  }
}

.nav-link {
  color: #202135;
  &:hover {
    color: #202135;
    border: none;
  }
}

.invest-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #202135;
  align-items: center;
  color: #DCE3FD;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: #DCE3FD;
    transition: background-color 0.3s;
    color: #202135;
  }
}

#myBtn {
  width: 100%;
}
