.donut-show h5 {
  margin-bottom: 54px;
  margin-top: 81px;
  margin-left: 61px;
  font-size: 16px;
}

#radar-show {
  width: 150px;
  height: 150px;
}

// faire la taille responsive
// .radar-investor {
//   height: 50%;
//   width: 70%;
// }

.radar-show {
  height: 300px;
  width: 400px;
}

.donut-graph-show {
  position: absolute;
  left:-78px;
}

