.donut-show h5 {
  margin-bottom: 50px;
  margin-top: -65px;
  margin-left: 132px;
  font-size: 16px;
}

#radar-show {
  width: 150px;
  height: 150px;
}

// faire la taille responsive
// .radar-investor {
//   height: 50%;
//   width: 70%;
// }

.radar-show {
  height: 300px;
  width: 400px;
}
