.project-card-tag {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: antiquewhite;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}

.project-financial-info-card {
  width: 100%;
  background-color: antiquewhite;
}

.stripe-payment {
  display: none;
}
